body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#dashboard {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: #ffffff;
    padding: 12px;
    border-radius: 14px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.25);
    width: 240px;
    border-top: 6px solid #a6d96a;
}

#dashboard h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;    
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

#dashboard p {
    margin: 10px 0;
    font-size: 13px;
}

#dashboard b {
    color: #333;
}

#dashboard span {
    font-weight: bold;
    color: #d84315;
}

#map {
    height: 100vh;
}

#legend {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background: white;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    font-size: 14px;
}

#legend h3 {
    margin: 0 0 8px 0;
    font-size: 14px;
}

#legend div {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

#legend span {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 8px;
}

#dashboardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dashboardHeader h2 {
    margin: 0;
    font-size: 18px;
}

#toggleDashboard {
    border: none;
    background: #a6d96a;
    color: #333;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    width: 26px;
    height: 26px;
}

#dashboard.collapsed {
    width: 190px;
}

#dashboard.collapsed #dashboardContent {
    display: none;
}
.metric-card {
    margin-top: 18px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.metric-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.metric-icon {
    font-size: 26px;
}

.metric-title {
    font-size: 15px;
    font-weight: bold;
}

.metric-value {
    font-size: 22px;
    font-weight: bold;
    color: #d84315;
}

canvas {
    max-height: 70px !important;
    max-width: 190px !important;
    margin: 5px auto 0 auto;
    display: block;
}
